@import 'colors.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  color: $default;
}

button,
input {
  border: none;
  color: $default;
  border-color: $default;
  background-color: $background;

  &:focus,
  &:active {
    color: $highlight;
    border-color: $highlight;
  }

  &:hover:not(:focus) {
    color: $light-highlight;
    border-color: $light-highlight;
  }
}

button {
  cursor: pointer;

  &:active {
    color: $highlight;
  }
}