@import 'colors.module.scss';
@import 'media_query.module.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.button-container {
  margin: 1rem 0;

  .back-button {
    cursor: pointer;
    border: .1rem solid $default;
    padding: .1rem 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
  }

}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D6DBD2;
  padding: 1rem;
  margin: auto;
  width: 60%;
  min-width: 650px;
  max-width: 850px;

  .pokemon-image {
    max-width: 450px;
    max-height: 450px;
    border: .4rem $default solid;
    margin-left: 1rem;

    @media (min-width: $breakpoint-mobile) {
      max-width: 350px;
      max-height: 350px;
    }
  }

  .description-column {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    flex-basis: 100%;
    margin-bottom: auto;
    margin-left: .2rem;

    h1,
    h2 {
      margin: 0;

    }

    table {
      margin-top: 4rem;

      td {
        font-size: 1.3rem;
      }

      .stat-row {
        display: flex;
        justify-content: space-between;
        border-bottom: .1rem solid $default;

        .name-data {
          font-weight: bold;
        }

        .value-data {
          color: $default;
        }
      }
    }
  }
}